<application>
    <name>testing-module</name>

    <dependencies>
        <port>/lbpExtract/rpc:i</port>
        <port>/memory/rpc</port>
    </dependencies>
    
    <module>
       <name>testing-module</name>
       <node>icub21</node>
    </module>
   
    <connection>
        <from>/testing-module/blob:rpc</from>
        <to>/lbpExtract/rpc:i</to>
        <protocol>tcp</protocol>
    </connection>

    <connection>
        <from>/testing-module/OPC:rpc</from>
        <to>/memory/rpc</to>
        <protocol>tcp</protocol>
    </connection>

    <connection>
        <from>/testing-module/superq:rpc</from>
        <to>/superquadric-model/rpc</to>
        <protocol>tcp</protocol>
    </connection>
</application>

