<application>
    <name>testing-module-3Dpoints</name>

    <dependencies>
        <port>/lbpExtract/rpc:i</port>
        <port>/memory/rpc</port>
    </dependencies>
    
    <module>
       <name>testing-module</name>
        <parameters> --from config.ini </parameters>
       <node>r1-console-linux</node>
    </module>

    <module>
       <name>superquadric-model</name>
        <parameters> --from config-classes.ini </parameters>
       <node>r1-console-linux</node>
    </module>
   
    <connection>
        <from>/testing-module/blob:rpc</from>
        <to>/lbpExtract/rpc:i</to>
        <protocol>tcp</protocol>
    </connection>

    <connection>
        <from>/testing-module/OPC:rpc</from>
        <to>/memory/rpc</to>
        <protocol>tcp</protocol>
    </connection>

    <connection>
        <from>/testing-module/RGBD:rpc</from>
        <to>/RGBD2PointCloud/rpc</to>
        <protocol>tcp</protocol>
    </connection>

    <connection>
        <from>/testing-module/superq:rpc</from>
        <to>/superquadric-model/rpc</to>
        <protocol>tcp</protocol>
    </connection>

    <connection>
        <from>/testing-module/point:o</from>
        <to>/superquadric-model/point:i</to>
        <protocol>tcp</protocol>
    </connection>

    <connection>
        <from>/cer_gaze-controller/state:o</from>
        <to>/testing-module/frame:i</to>
        <protocol>tcp</protocol>
    </connection>

    <module>
       <name>yarpview</name>
       <parameters>--name /dispSuperq --out /dispBlobs/out --x 1600 --y 370 --w 600 --h 600 --p 200</parameters>
       <node>r1-console-linux</node>
    </module>

    <connection>
        <from>/superquadric-model/img:o</from>
        <to>/dispSuperq</to>
        <protocol>mjpeg</protocol>
    </connection>

    <connection>
        <from>/depthCamera/rgbImage:o</from>
        <to>/superquadric-model/img:i</to>
        <protocol>mjpeg</protocol>
    </connection>

     <connection>
        <from>/cer_gaze-controller/state:o</from>
        <to>/superquadric-model/frame:i</to>
        <protocol>tcp</protocol>
    </connection>

</application>
